@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-image: url("image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

#container {
    margin: 0 auto;
    max-width: 800px;
    height: 500px;
}

.box {
    width: 100%;
    height: 100%;
    margin: 150px auto;
    font-family: 'ImcreSoojin';
}

.centerArea {
    text-align: center;
}

.ibxArea {
    margin-top: 10px;
    margin-right: 5px;
    width: 200px;
    height: 25px;
    font-size: 15px;
}

.buttonArea {
    height: 30px;
}

.buttonArea:hover {
    background-color: black;
    color: white;
}

#result-area {
    font-size: 30px;
}

#reset-button {
    height: 30px;
}

h1 {
    font-size: 60px;
    font-weight: 100;
}